* {
    font-family: "Roboto Light";
    font-size: 16px;
    color: #3C3C3C;
}
header{
    display: flex;
    justify-content: center;

}

.logo{
    align-content: center;
}

.menu{
    display: flex;
    width: 1000px;
    justify-content: space-around;
    font-weight: bold;
    list-style: none;
    align-items: center;

}

.menu li{
    display:inline-block;
    border-left:1px solid #bbb;
    padding:0 5% 0 5%;
    white-space: nowrap;
}
.menu li a{
    text-decoration: none;
}

li:first-child {
    border:none;
}

.menu li a :hover {
    color: #B52323;
}

.lineHeader{
    width: 100%;
    height: 1px;
    border-bottom: #CECECE solid;
}

@media (max-width: 1300px) {
    .menu li{

    }
}



