<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>СТАН</title>
  <link rel="stylesheet" href="/css/header.css">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/categories.css">
  <link rel="stylesheet" href="/css/footer.css">

  <link rel="icon" href="/images/favicon/favicon.png" type="image/x-icon"> <!-- 16x16 -->
  <link rel="icon" href="/images/favicon/favicon.svg" type="image/svg+xml"> <!-- 16x16 -->
  <link rel="apple-touch-icon" href="/images/favicon/favicon.png">  <!-- 180x180 -->
</head>

<body class="body_hide" style="background-image: url('/images/backgrounds/factory-products.png'); background-position: bottom; background-repeat: no-repeat">
<header>
  <div class="logo"><img src="/images/icons/LogoStan.png" alt="logo"></div>
  <ul class="menu">
    <li><a href="/main.html" class="nav">Главная</a></li>
    <li><a href="/products.html" class="nav">Товары</a></li>
    <li><a href="/aboutСompany.html" class="nav">О компании</a></li>
    <li><a href="/basket.html" class="nav">Корзина</a></li>
    <li><a href="/contacts.html" class="nav">Контакты</a></li>
  </ul>
</header>

<div class="lineHeader">

</div>
<div class="mainText">
  <% nameCategory.map(product => { %><%= product.name%><% })%>
</div>
<ul class="List-categories" >
  <% products.map((product, index)=> { %>
    <li class="List-categories_item" >
      <div class="List-categories_item-name">
        <%= product.name%>
        <button class="List-categories_item-button" onclick="window.location=`/stan/product/${<%= product.id%>}`">Подробнее</button>
      </div>
    </li>
  <% })%>
</ul>


<footer>
  <div class="footer_info">
    Время работы склада/офиса:<br>
    09:00-16:30
  </div>
  <img class="logoStan" src="/images/icons/LogoStanFooter.svg">
  <div class="footer_date">
    © 2024
  </div>
  <div class="Directed-By">
    <span>Directed by</span>
    <img src="/images/icons/Nexen_Logo_white.png" width="100px">
  </div>
</footer>

</body>
<script type="text/javascript" src="/js/backgroundProduct.js"></script>
<script type="text/javascript" src="/js/opacityPageLoading.js"></script>
</html>